.App{
  padding: 20px;
  margin: 10px 0px 10px 10px;

  justify-content: center;
  align-items: center;
  max-width: 600px;
  border-radius: 1px solid black;
}

.normalcolor{
  background-color:white;
}
.selectedcolor{
background-color: red;
}